.vscode
.DS_Store

backend/.vscode
backend/node_modules
backend/src/modules/mongo/mongo-volume
backend/src/modules/mongo/volumes
backend/src/modules/mongo/mongo-init.js
backend/mongo-volume/
backend/.DS_Store


chat/node_modules